*.pyc
__pycache__/

venv/
.env/

*.log
*.tmp

.vscode/
.idea/
*.swp
*.swo
*.swn

.DS_Store

# too big
model_files/vgg*
model_files/resnet*
instruction_files/
./instructions.json
simplified_model_files/